#compiled output
bin/
obj/
# [Bb]in/
# [Ob]j/
#IDE files
.vscode/
.vs/
*.user/
/src/CredibilityIndex.Api/[Bb]in/

#Environment files
.env
#compiled output
bin/
obj/

#IDE files
.vscode/
.vs/
*.user/

#Environment files
.env